:root{
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
body{
    margin: auto;
    text-align: center;
}
header{
    padding: 1rem;
    background-color: #371b51;
    color: yellow;
}
a, li{
    text-decoration: none;
    color: yellow;
    list-style-type: none;
}
.guide:hover{
    text-decoration: underline;
    cursor: pointer;
}
.navBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
ul{
    width: 100%;
    padding: 1rem;
    display: flex;
    gap: 1.5rem;
}
main{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    justify-content: space-between;
    justify-items: center;
}
p{
    
}
.card{
    width: 20rem;
    text-align: center;
    background-color: lightyellow;
    margin: 1rem;
    padding: 1rem;
}
.card img{
    width: 100%;
    background-color: white;
}
span{
    color: #371b51;
}
footer{
    padding: 1rem;
    background-color: #371b51;
    color: yellow;
}

@media (max-width: 700px){
    .navMenu{
        position: fixed;
        left: -100%;
        top: 110px;
        gap: 0;
        flex-direction: column;
        background-color: #371b51;
        width: 100%;
        text-align: center;
        transition: 0.2s;
        }
    .navMenu ul{
        display: block;
        text-align: center;
    }
    .navMenu li{
        padding-bottom: 1rem;
    }
    .navMenu.active{
        left: 0;
    }
    #menu::before {
        content: "☰";
    }

    #menu.active::before {
        content: "X";
    }
    main{
        display: block;
    }
    .card{
        max-width: 22rem;
        padding: 1rem;
        display: flex;
    }
}