.page {
    max-width: 840px;
}

header {
    background-color: rgb(61, 61, 61);
    color: white;
    padding: 10px;
    height: 100px;
    font-size: 20px;
}

.menu {
    background-color: black;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.middle {
    display: grid;
    height: 300px;
    grid-template-columns: 2fr 1fr;
}

/* With using display: flex; you would go into the main class and the aside
and give the value of flex: 2; to main to give it 2/3's of the screen.
And then give .ASIDE the value of flex: 1;

EX:
.middle {
display: flex;
}

.main {
flex: 2;
}

.aside {
flex: 1;
}
*/

.main {
    background-color: lightgray;
    padding: 10px;
    font-size: 20px;

}

.aside {
    padding: 10px;
    font-size: 20px;
}

.footer {
    background-color: rgb(61, 61, 61);
    color: white;
    padding: 10px;
    text-align: center;
    height: 150px;
    font-size: 20px;
}