:root {
    font-family: 'Cambria, Cochin, Georgia, Times, serif';
}

body{
    max-width: 840px;
}

#course-title {
    display: block;
    text-align: center;
    padding: 10px;
    font-size: 30px;
    background-color: aqua;
    /* border-radius: 10px; - This gives the corners a curved edge */
}

header {
    max-width: 840px;
}

header nav{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(222, 220, 255);
}

header a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 10px;
}

main{
    margin-bottom: 10px;
    max-width: 840px;
}

.card p{
    font-size: 18px;
}

.card.left img {
    float: left;
    width: 150px;
    margin: 0 1rem 1rem 0;
}
.card.right h1 {
    font-size: 30px;
}

.right img {
    float: right;
    width: 200px;
}

.card.left {
    overflow: auto;
    padding: 1rem;
}

.card.right {
   overflow: auto;
}

.about-me {
    text-align: center;
    background-color: aqua;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

div {
    max-width: 840px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

footer {
    background-color: aqua;
    text-align: center;
    padding: 10px;
    font-size: 18px;
}