body{
    width: 500px;
    margin: auto;
    /* text-align: center; */
}
header{
    text-align: center;
    background-color: aqua;
    border-radius: 10px 10px 0 0;
}
main{
    background-color: rgb(222, 220, 255);
    padding: 1rem;
}
#product-name{
    width: 100%;
    padding: 4px;
}
fieldset{
    border: none;
    padding: 0;
    margin: 0;
}
.overall-rating{
    display: flex;
    gap: 2rem;
}
.star-rating{
    display: flex;
    flex-direction: column;
}
input[type="checkbox"]{
    transform: scale(1.4);
    margin: 7px;
    cursor: pointer;
}
#date{
    width: 98%;
    font-size: 16px;
    padding: 4px;
}
.optional{
    color: purple;
}
#review{
    width: 99%;
    min-height: 100px;
}
#name{
    width: 98%;
    padding: 6px;
}
#button{
    text-align: center;

}
#submit{
    font-size: 20px;
}
#submit:hover{
    cursor: pointer;
}
footer{
    text-align: center;
    background-color: aqua;
    border-radius: 0 0 10px 10px;
}
@media(max-width:550px){
    body{
        text-align: center;
    }
    #product-name, #date, #review, #name{
        width: 50%;
    }
    .overall-rating{
        display: block;
    }
}