:root {
    font-family: 'Cambria, Cochin, Georgia, Times, serif';
}

body {
    max-width: 1040px;
    margin: auto;
}

#course-title {
    display: block;
    text-align: center;
    padding: 10px;
    font-size: 30px;
    background-color: aqua;
    /* border-radius: 10px; - This gives the corners a curved edge */
}

header {
    max-width: 1040px;
}

header nav {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(222, 220, 255);
}

header a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 10px;
}

main {
    margin: auto;
    /*This centers the page*/
    margin-bottom: 10px;
    max-width: 940px;
}
h1{
    text-align: center;
    background-color: rgb(222, 220, 255);
    border-radius: 10px 10px 0px 0px;
    padding: 0.5rem;
}
picture{
    width: 500px;
}

#lastModified {
    color: purple;
}

footer {
    background-color: aqua;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

@media (min-width: 650px){

}