:root {
    font-family: 'Cambria, Cochin, Georgia, Times, serif';
}

body {
    max-width: 1040px;
    margin: auto;
}
main {
    margin: auto;
    /*This centers the page*/
    margin-bottom: 10px;
    max-width: 1040px;
}
h1{
    text-align: center;
    background-color: aqua;
    border-radius: 10px 10px 0px 0px;
    padding: 0.5rem;
    margin: 1rem 0 0 0;
}
.information{
    position: relative;
}
.data{
    /* position: absolute; */
    border: 1px black solid;
}
#description{
    background-color: aliceblue;
    max-width: 20rem;
}
#description-title{
    margin: 0;
    padding: 1rem;
    background-color: rgb(222, 220, 255);
}
h2{
    margin: 0;
}
.weather-header{
    display: flex;
    gap: 1rem;
    margin: 0;
}
#info-list{
    list-style: none;
    padding: 0.5rem;
}
#info-list li{
    margin-bottom: 0.5rem;
}
picture img{
    width: 100%;
    /* padding-left: 2rem; */
}

#lastModified {
    color: purple;
}

footer {
    background-color: aqua;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

@media (min-width: 650px){
    body{
        display: block;
    }
}