header, main, footer {
    font-family: 'Roboto', sans-serif;
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid gray;
    background-color: lightcyan;
    padding: 1rem;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

section {
    padding: 1rem;
    background-color: aliceblue;
}