@media screen and (min-width: 500px) {
    header {        
        color: white;
        background-color: black;
    }
    main {
        display: flex;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }
}
